body {
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#root {
    min-height: 100vh;
}

.album-card {
  transition:  transform 0.2s ease;
}

.album-card:hover {
  transform: scale(1.05);
}